# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Databases
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.*

# Data files
data/raw/
*.xlsx
*.csv
!src/input/*.csv  # Permet les fichiers CSV dans src/input

# Logs
*.log
logs/
